{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}All clients{% endblock title %}

{% block content %}
<div class="container mt-4 mb-4">
    <div class="row mt-4 mb-4">
        <div class="col-md-2 mt-4 mb-4"></div>
        <div class="col-md-8 mt-4 mb-4">
            All clients Table
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                Add new client
            </button>
            <table class="table align-middle mb-0 bg-white mt-2 mb-2">
                <thead class="bg-light">
                  <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Age</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ms-3">
                          <p class="text-muted mb-0">{{client.username}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-muted mb-0">{{client.email}}</p>
                    </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline">{{client.age}} years</span>
                    </td>
                    <td>Senior</td>
                    <td>
                      <button type="button" class="btn btn-link btn-sm btn-rounded">
                        Edit
                      </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded">
                          Delete
                        </button>
                      </td>
                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>
              <div class="conaine">
                  <div class="row align-items-center justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          {% if clients.has_previous %}    
                          <li class="page-item">
                            <a href="?page={{ clients.previous_page_number }}" class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          {% endif %}
                          <li class="page-item"><a class="page-link" href="#">
                            page {{ clients.number }} of {{ clients.paginator.num_pages }}
                          </a></li>
                          {% if clients.has_next %}
                          <li class="page-item">
                            <a href="?page={{ clients.next_page_number }}" class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                  </div>
              </div>


            <!-- Button trigger modal -->

                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group mt-2 mb-2">
                                            {{form|crispy}}
                                            </div>
                        
                                        <button type="submit" class="btn btn-outline-primary mt-2 mb-2">Add</button>
                                    </form>

                                </div>
                            </div>

                        </div>
                        <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div> -->
                    </div>
                    </div>
                </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}